@font-face {
	font-family: 'Alfabet';
	src:
		url('/fonts/alfabet/Alfabet-Light.woff2') format('woff2'),
		url('/fonts/alfabet/Alfabet-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alfabet';
	src:
		url('/fonts/alfabet/Alfabet-Medium.woff2') format('woff2'),
		url('/fonts/alfabet/Alfabet-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alfabet';
	src:
		url('/fonts/alfabet/Alfabet-Bold.woff2') format('woff2'),
		url('/fonts/alfabet/Alfabet-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
