.slider-project {
	.slick-slide {
		opacity: 0.6;
		transform: scale(0.95);
		transition: 0.3s;

		&.slick-center {
			position: relative;
			opacity: 1;
			transform: scale(1);
			z-index: 1;

			.box {
				.description {
					display: block;
					width: 300px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.slick-arrow {
		width: auto;
		height: auto;

		&::before {
			content: '';
		}

		@media (max-width: 800px) {
			display: none;
		}

		&.slick-prev {
			left: calc((-5.6rem) + (-3.2rem));

			@media (max-width: 991px) {
				left: calc((-4.8rem) + (-1.6rem));
				width: 48px;
			}
		}

		&.slick-next {
			right: calc((-5.6rem) + (-3.2rem));

			@media (max-width: 991px) {
				right: calc((-4.8rem) + (-1.6rem));
				width: 48px;
			}
		}
	}

	.box {
		background-color: var(--color-1);
		width: 250px;
		height: 545px;
		border-radius: 1.6rem;
		box-shadow: rgba(0, 0, 0, 0.5) 0 4px 24px;
		display: flex !important;
		align-items: center;
		justify-content: center;

		&-content {
			background-color: var(--color-1);
			width: max-content;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 1.6rem;
		}

		.description {
			opacity: 0;
			visibility: hidden;
			display: none;
			padding: 0.8rem;

			.project-title {
				font-size: 2.4rem;
				font-weight: var(--font-bold);
				line-height: 3.2rem;
				margin-bottom: 1.6rem;
			}

			.project-description {
				font-size: 2rem;
				font-weight: var(--font-light);
				line-height: 2.4rem;
			}
		}
	}
}
