.slider-project {
	padding-bottom: 3rem;

	.swiper-slide {
		opacity: 0.6;
		transform: scale(0.95);
		transition: 0.3s;

		&.swiper-slide-active {
			position: relative;
			opacity: 1;
			transform: scale(1);
			z-index: 1;

			&.box {
				.description {
					display: block;
					width: 500px;
					opacity: 1;
					visibility: visible;

					@media (max-width: 600px) {
						width: auto;
					}
				}
			}
		}
	}

	.swiper-pagination {
		&-bullet {
			background-color: var(--color-3);
			opacity: 1;

			&-active {
				background-color: var(--white);
			}
		}
	}

	.slick-arrow {
		width: auto;
		height: auto;

		&::before {
			content: '';
		}

		@media (max-width: 800px) {
			display: none;
		}

		&.slick-prev {
			left: calc((-5.6rem) + (-3.2rem));

			@media (max-width: 991px) {
				left: calc((-4.8rem) + (-1.6rem));
				width: 48px;
			}
		}

		&.slick-next {
			right: calc((-5.6rem) + (-3.2rem));

			@media (max-width: 991px) {
				right: calc((-4.8rem) + (-1.6rem));
				width: 48px;
			}
		}
	}

	.box {
		background-color: var(--color-1);
		width: 400px;
		height: 400px;
		border-radius: 1.6rem;
		box-shadow: rgba(0, 0, 0, 0.5) 0 4px 24px;
		display: flex !important;
		align-items: center;
		justify-content: center;

		@media (max-width: 600px) {
			height: auto;
		}

		&-content {
			background-color: var(--color-1);
			width: max-content;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 1.6rem;

			@media (max-width: 600px) {
				display: flex;
				flex-direction: column-reverse;
				height: auto;
			}
		}

		.description {
			opacity: 0;
			visibility: hidden;
			display: none;
			padding: 0.8rem;

			.project-title {
				font-size: 2.4rem;
				font-weight: var(--font-bold);
				line-height: 3.2rem;
				margin-bottom: 1.6rem;

				@media (max-width: 600px) {
					font-size: 1.6rem;
					line-height: auto;
				}
			}

			.project-description {
				font-size: 2rem;
				font-weight: var(--font-light);
				line-height: 2.4rem;

				@media (max-width: 600px) {
					font-size: 1.4rem;
					line-height: auto;
				}
			}
		}

		picture {
			display: block;
			width: 400px;
			height: 100%;
			border-radius: 1.6rem;
			overflow: hidden;

			@media (max-width: 600px) {
				max-width: 400px;
				width: 100%;
				height: auto;
			}

			.image {
				width: 100%;
				height: 100%;

				@media (max-width: 600px) {
					height: 300px;
				}
			}
		}

		.button {
			display: inline-block;

			@media (max-width: 600px) {
				margin-top: 1.6rem;
			}
		}
	}
}
