---
import Footer from '@/components/Footer.astro';
import Text from '@/components/Text.astro';
import RegisterForm from '@/components/RegisterForm/RegisterForm.tsx';
import '@/styles/field.scss';
---

<section id="form-section">
	<div class="container">
		<Text as="h2" className="font-48">Únete al <span>cambio constante</span></Text>
		<h3 class="sub-title">Escríbenos y trabajemos juntos</h3>

		<RegisterForm client:load />

		<Footer />
	</div>

	<style lang="scss">
		#form-section {
			background-image: url('/images/bg-contact.png');
			background-size: cover;
			padding: 6rem 1.5rem 0;

			.container {
				max-width: 880px;
				width: 100%;
				text-align: center;
				margin-inline: auto;
			}

			.sub-title {
				font-weight: var(--font-medium);
				font-size: 3.2rem;
				margin: 2.5rem 0 6rem;

				@media (max-width: 600px) {
					font-size: 2.4rem;
					line-height: 3rem;
				}
			}
		}
	</style>
</section>
