---
import Header from '@/components/Header.astro';
import Text from '@/components/Text.astro';
import Parallax from '@/components/Parallax/Parallax';
---

<section id="hero-section">
	<Header />
	<div class="content">
		<Text as="h1" className="font-72">El cambio es <span>inevitable.</span></Text>

		<div class="description">
			El mundo <b>evoluciona constantemente.</b> Cada día se desarrollan nuevas tecnologías, <b>debemos adaptarnos al cambio</b> y utilizarlo
			a nuestro favor.
		</div>''

		<a class="button" href="#form-section">CONVERSEMOS</a>
	</div>

	<div id="parallax" class="absolute parallax">
		<div class="absolute bg parallax-bg"></div>
		<div class="absolute hand-human parallax-hand-human"></div>
		<div class="absolute hand-robot parallax-hand-robot"></div>
		<div class="absolute shadow"></div>
	</div>
</section>

<style>
	#hero-section {
		position: relative;
		padding: 0 7rem 8.8rem;
		height: 1040px;
		/* overflow: hidden; */

		@media (max-width: 600px) {
			padding: 0 1.5rem 5rem;
			line-height: 4rem;
			height: auto;
		}

		.simpleParallax,
		.absolute {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.parallax {
			z-index: -1;

			.bg {
				background-image: url('/images/bg-hero.png');
				background-size: cover;
				background-repeat: no-repeat;
			}

			.hand-human {
				background-image: url('/images/hand-human.png');
				background-repeat: no-repeat;
				background-position: bottom left;
				background-size: 100%;
				z-index: 1;
			}

			.hand-robot {
				background-image: url('/images/hand-robot.png');
				background-repeat: no-repeat;
				background-position: 150px 60px;
				background-size: 100%;
				z-index: 1;
			}

			.shadow {
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 73%, var(--black) 100%),
					linear-gradient(261deg, rgba(27, 27, 27, 0) 24%, var(--black) 82%),
					radial-gradient(circle at 94% 50%, rgba(27, 27, 27, 0) 0%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.64) 74%, rgba(0, 0, 0, 0.64) 74%);
				background-repeat: no-repeat;
				z-index: 1;
			}
		}

		.content {
			max-width: 600px;
			width: 100%;
		}

		.description {
			max-width: 450px;
			width: 100%;
			font-weight: var(--font-light);
			font-size: 2rem;
			line-height: 2.4rem;
			margin: 8.8rem 0 5.8rem;

			@media (max-width: 600px) {
				margin: 4rem 0 5rem;
			}
		}
	}
</style>

<script>
	import simpleParallax from 'simple-parallax-js';

	const background = document.getElementsByClassName('parallax-bg');
	new simpleParallax(background, {
		scale: 1.2,
		orientation: 'up',
	});

	const bgHandHuman = document.getElementsByClassName('parallax-hand-human');
	new simpleParallax(bgHandHuman, {
		scale: 1.1,
		orientation: 'right',
		maxTransition: 200,
	});

	const bgHandRobot = document.getElementsByClassName('parallax-hand-robot');
	new simpleParallax(bgHandRobot, {
		scale: 1.1,
		orientation: 'left',
	});
</script>
